<nav>
    <a href="/inicio" (click)="logOut()">Desconectarse</a>
</nav>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/images/pexels-pixabay-207662.jpg" class="d-block mx-lg-auto img-fluid" alt="Libros" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenido/a {{ dataUser?.email }}</h1>
      <p class="lead">Muchas gracias por registrarte en nuestra Biblioteca 📚, en la seccion de Libros podes consultar todo el catalogo. Recorda que una vez reservado tendras hasta 15 dias para devolverlo 🙌</p>
    </div>
  </div>
</div>