nav{
  background-color: rgba(133, 92, 16, 0.788);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}

a{
  color:#212e3a ;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #ABABAB;
}

a:hover{
  color: rgb(218, 207, 190);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px #5a5757;
}

.lead{
  font-size: x-large;
  font-weight: 700;
}