body{
  background-image: url("assets/images/pexels-ron-lach-10533148.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100%;
  /*display: flex;
  flex-direction: column;*/
}

