<main>

  <section>
    <p class="texto">Bienvenidos a nuestra <strong>Biblioteca Virtual</strong>, donde podras consultar nuestro catalogo de Libros,
      ademas vas a poder reservar cualquiera de nuestros Libros y tenerlo hasta un maximo de 15 dias.
      No olvides ir a la seccion <strong>"Registro"</strong> y completar nuestro formulario, una vez llenado vas a poder disfrutar de nuestro servicio.
    </p>
  </section>

    <img src="assets/images/pexels-a-m-1256890 (1).jpg" alt="Libro">

</main>
