<main>

  <section>
    <p class="texto">Bienvenidos a nuestra Biblioteca Virtual, donde podras consultar nuestro catalogo de Libros,
      ademas vas a poder reservar cualquiera de nuestros libros y tenerlo hasta un maximo de 15 dias.
      No olvides ir a la seccion "Registro" y completar nuestro formulario, una vez llenado vas a poder disfrutar
      de nuestro servicio.
    </p>
  </section>

  <section>
    <img src="assets/images/pexels-thisisengineering-3861958.jpg" alt="Libro">
  </section>

</main>
