<header> Galeria de libros</header>

<main>
  <ul class="galeria">
    <li>
      <h2>Clean Code</h2>
      <img src="./assets/images/Clean Code.png" alt="Codigo Limpio">
      <p class="pagina">464 Paginas</p>
      <p class="id-Libro"> Id</p>
      
    </li>

    <li>
      <h2>JAVA</h2>
      <img src="./assets/images/JAVA.png" alt="Java">
      <p class="pagina">475 Paginas</p>
      <p class="id-Libro"> Id</p>
    </li>

    <li>
      <h2>POO</h2>
      <img src="./assets/images/POO.png" alt="Programacion Orientada a Objetos">
      <p class="pagina">564 Paginas</p>
      <p class="id-Libro"> Id</p>
    </li>

    <li>
      <h2>Programacion Basica</h2>
      <img src="./assets/images/Programacion Basica.png" alt="Programacion Basica">
      <p class="pagina">315 Paginas</p>
      <p class="id-Libro"> Id</p>
    </li>

    <li>
      <h2>Python</h2>
      <img src="./assets/images/Python.png" alt="Python">
      <p class="pagina">482 Paginas</p>
      <p class="id-Libro"> Id</p>
      
    </li>

    <li>
      <h2>Video Juegos</h2>
      <img src="./assets/images/Video Juego.jpg" alt="VideosJuegos">
      <p class="pagina">264 Paginas</p>
      <p class="id-Libro"> Id</p>
    </li>
  </ul>
</main>
