
nav{
  background-color: rgba(133, 92, 16, 0.788);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}

ul{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

li{
  list-style: none;
  font-size: medium;
  font-weight: 800;
}

a{
  color:#212e3a ;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #ABABAB;
}

a:hover{
  color: rgb(218, 207, 190);
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0.5px 0.5px #5a5757;
}

@media (max-width:725px){

  nav{
    height: max-content;
    margin-bottom: 3rem;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}